* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  height: 8vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: #215d3f;
}
